<footer class="footer">
  <div class="container bottom_border"> <!--Ouverture container-->

    <div class="row"> <!--Ouverture row test-->

      <div class=" col-sm-4 col-md col-sm-4  col-12 col"> <!--Ouverture div Réseaux sociaux-->
        <h5 class="headin5_amrc col_white_amrc pt2">Réseaux sociaux </h5>
        <p class="mb10">Suivre l'actualité du Cosmolab sur : </p>
        <p class="socialmedias"> <i class="fab fa-twitter"></i> <i class="fab fa-facebook-f"></i> <i class="fab fa-linkedin-in"></i> </p>
      </div> <!--Fermeture div Réseaux sociaux-->
        
      <div class=" col-sm-4 col-md  col-6 col"> <!-- Ouverture div Infos pratiques-->
        <h5 class="headin5_amrc col_white_amrc pt2">Informations pratiques</h5>
            <p><i class="fa fa-location-arrow"></i> Adresse </p>
            <p><i class="fa fa-phone"></i> Téléphone </p>
            <p><i class="fa fa fa-envelope"></i> Mail </p>
      </div> <!--Fermeture div infos pratiques -->
    
    </div> <!--Fermeture row -->
  </div> <!--Fermeture container -->
         
  <div class="container"> <!--Ouverture container mentions légales -->
    <p class="text-center">Copyright @2019 | Par <a href="#">Blabla</a></p>
  </div> <!--Fermeture container mentions légales -->

</footer>        

  
     
   

