<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header"> <!-- Ouverture div logo -->
      <a class="navbar-brand" href=""><img src="assets/img/logo.jpg" alt="Logo du Cosmolab"></a>
    </div> <!-- Fermeture div Logo -->

    <ul class="nav navbar-nav"> <!-- Liens de navigation-->
      <li class="active"><a href="#">Accueil</a></li>

      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="projet">Le projet <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Calendrier du projet</a></li>
        </ul>
      </li>
      <li class="active"><a href="#">Le lieu</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="projet">Les services <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </li>
      <li><a href="#">L'équipe</a></li>
      <li><a href="#">Contact</a></li>
    </ul> <!-- Fin des liens de navigation-->
  </div> <!--Fermeture container -->
</nav>