<app-pie></app-pie>
<div id="home_quicklinks">
  <a class="quicklink link1">
      <span class="ql_caption">
          <span class="outer">
              <span class="inner">
                  <h2>locataire</h2>
              </span>
          </span>
      </span>
      <span class="ql_top"></span>
      <span class="ql_bottom"></span>
  </a>

  <a class="quicklink link2">
      <span class="ql_caption">
          <span class="outer">
              <span class="inner">
                  <h2>Partenaire</h2>
              </span>
          </span>
      </span>
      <span class="ql_top"></span>
      <span class="ql_bottom"></span>
  </a>

  <a class="quicklink link3">
      <span class="ql_caption">
          <span class="outer">
              <span class="inner">
                  <h2>Benevole</h2>
              </span>
          </span>
      </span>
      <span class="ql_top"></span>
      <span class="ql_bottom"></span>
  </a>

  <div class="clear"></div>
</div>
