<section>
  <div class="jumbotron">
      <h1 class="display-4">Le Cosmolab</h1>
      <p class="lead">Ils nous ont rejoint</p>
      <p><img src="\assets\img\logo1.png" alt="Logo 1"><img src="\assets\img\logo2.png" alt="Logo 2"><img src="\assets\img\logo3.png" alt="Logo 3"></p>

      <hr class="my-4">
      <p class='lead'>Ils nous font confiance</p>
      <p><img src="\assets\img\logo_tiers_lieux.png" alt="logo de la Coopértive des tiers-lieux"><img src="\assets\img\nouvelleaquitaine_logo.jpg" alt="Logo de la région Nouvelle Aquitaine"> </p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Nous rejoindre</a>
  </div>
</section>