<app-lieu></app-lieu>
<section>
  <h2>Le Cosmolab et son quartier</h2>
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1658.1362743720117!2d0.16297832842040905!3d45.65801672630837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1548353662742" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
    <ul>Montrer les équipements à proximité :
      <li>le FRAC</li>
      <li>la gare </li>
      <li>l'Alpha</li>
      <li>les bords de Charente</li>
    </ul>
  </section>
